<h1>Update a Book</h1>

<div class="books edit">
  <h2>Edit Book</h2>
  <%= form_for(@book) do |f| %>

    <%= render 'form', f: f %>

    <div class="form-buttons">
      <%= f.submit("Edit Book")%>
    </div>

  <% end %>
</div>

<div>
  <%= link_to "Back to Home", books_path, class: "button" %>
</div>