<h1>Add a Book</h1>

<div class="books new">
  <h2>New Book</h2>
  <%= form_for(@book) do |f| %>
    
    <%= render 'form', f: f %>

    <div class="form-buttons">
    <%= f.submit("Create Book")%>
    </div>

  <% end %>
</div>

<div>
  <%= link_to "Back to Home", books_path, class: "button" %>
</div>
